.row-fluid
  .col-xs-12
    img(src="#{root_url[environment]}images/#{main_image}" width="220" class="img-responsive img-circle center-block")
    p.text-center Page not found :(<br>
      a(href="#{root_url[environment]}" rel="me")
        strong Come back to homepage!
