.row
  .col-xs-12
    .jumbotron
      h2.text-center About
      br
      article.row(itemscope itemtype="http://schema.org/Person")
        .col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-3
          img(src="images/#{main_image}" alt="#{author}" class="img-responsive img-circle" itemprop="image")
          br
        .col-xs-12.col-sm-9
          p(itemprop="description") Hi! My name is <span itemprop="name">Caio Ribeiro Pereira</span>, a software engineer from Brazil, my programming's skills is based on understanding this alphabet soup: <em>JavaScript, Node.js, React, React Native, Ruby on Rails and frontend techs</em>.<br>I'm bachelor in Information Systems, big fan of cryptocurrencies, blogger on my free times, <a data-scroll href="#books">author of some tech books</a>, admirer of programming, startups, inovation, technology and fps gaming. Actively engaged in the communities: <a href="https://www.facebook.com/groups/1407602962733165" target="_blank" rel="co-worker">Node.js Brazil</a>, <a href="https://www.facebook.com/groups/626386404468859" target="_blank" rel="co-worker">Frontend Brazil</a> and <a href="https://www.facebook.com/groups/javascriptbrazil/" target="_blank" rel="me">JavaScript Brazil</a>.<br>I created <a href="https://devfreebooks.github.io" target="_blank" rel="me">DevFreeBooks</a> and <a href="https://bizideas.substack.com" target="_blank" rel="me">Biz Ideas</a>.<br>If you enjoy my projects, fell free to donate and help me buying a coffee via:<br><a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=L8MUNAKECUULY&source=url" target="_blank">Paypal</a>.
