footer.container-fluid
  p.text-center Powered by <a href="http://pages.github.com/" target="_blank" rel="nofollow">Github Pages</a> and <a href="http://fontello.com/" target="_blank" rel="nofollow">Fontello</a>.
script(src="#{root_url[environment]}js/smooth-scroll.min.js" async="true" defer="true")
script(src="#{root_url[environment]}js/main.js" async="true" defer="true")
script.
  (function() {
    var msg  = '  ___  ___  ___ __      __ ___  ___  ___   ___ __   __\n';
    msg += ' / __|| _ \\| _ \\\\ \\    / /| __|| _ )|   \\ | __|\\ \\ / /\n';
    msg += ' | (__|  / |  _/ \\ \\/\\/ / | _| | _ \\| |) || _|  \\ \V / \n';
    msg += ' \\___||_|_\\|_|    \\_/\\_/  |___||___/|___/ |___|  \\_/  \n';
    msg += ' Powered by @crp_underground\n';
    console.log(msg);
  })();
