nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/" rel="me") #{author}
    .navbar-collapse.collapse.in.hidden-xs
      ul.nav.navbar-right.navbar-nav
        li
          <a data-scroll href="#books"><i class="icon-book"></i>&nbsp;Books</a>
        li
          <a data-scroll href="#contact"><i class="icon-chat"></i>&nbsp;Contact</a>
        li
          <a data-scroll href="#talks"><i class="icon-slideshare"></i>&nbsp;Talks</a>
        li
          <a data-scroll href="#projects"><i class="icon-check"></i>&nbsp;Projects</a>
        li
          <a data-scroll href="#articles"><i class="icon-book"></i>&nbsp;Articles</a>
